In [105]:
import pandas as pd
import numpy as np
import re

In [113]:
animes = pd.read_csv('animes.csv')
profiles = pd.read_csv('profiles.csv')
reviews = pd.read_csv('reviews.csv')

# EDA

In [114]:
# drop non-important columns
animes = animes.drop(['img_url', 'link', 'synopsis', 'aired'], axis=1)

In [115]:
# check for NaNs
animes.isnull().sum()

uid              0
title            0
genre            0
episodes       706
members          0
popularity       0
ranked        3212
score          579
dtype: int64

In [116]:
anime_uids = list(animes['uid'])

In [117]:
# removing duplicates
already_seen = set()
ind_lst = []
for i in range(len(anime_uids)):
    if anime_uids[i] not in already_seen:
        already_seen.add(anime_uids[i])
        ind_lst.append(i)

In [118]:
animes = animes.iloc[ind_lst]

In [119]:
# drop non-important columns
profiles = profiles.drop(['gender', 'birthday', 'link'], axis=1)

In [120]:
# check for NaNs
profiles.isnull().sum()

profile            0
favorites_anime    0
dtype: int64

In [121]:
profile_names = list(profiles['profile'])

In [122]:
# removing duplicates
seen = set()
i_lst = []
for i in range(len(profile_names)):
    if profile_names[i] not in seen:
        seen.add(profile_names[i])
        i_lst.append(i)

In [123]:
profiles = profiles.iloc[i_lst]

In [124]:
# drop non-important columns
reviews = reviews.drop(['link'], axis=1)

In [125]:
# check for NaNs
reviews.isnull().sum()

uid          0
profile      0
anime_uid    0
text         0
score        0
scores       0
dtype: int64

In [126]:
# get rid of newline characters and remove beginning of review which are the scores
def clean_review(x):
    temp = x.replace('\n', '').replace('\r','')[495:].strip()
    return re.sub(r'[^A-Za-z ]', '', temp)

In [127]:
reviews['text'] = reviews['text'].apply(clean_review)

In [15]:
profile_names = reviews.to_dict()['profile']

In [16]:
anime_uid = reviews.to_dict()['anime_uid']

In [17]:
# removing duplicates
user_anime = {}
index_list = []
for i in range(len(profile_names)):
    if profile_names[i] not in set(user_anime.keys()):
        user_anime[profile_names[i]] = {anime_uid[i]}
        index_list.append(i)
    else:
        if anime_uid[i] in user_anime[profile_names[i]]:
            pass
        else:
            user_anime[profile_names[i]].add(anime_uid[i])
            index_list.append(i)

In [128]:
reviews = reviews.iloc[index_list]

In [19]:
# final_df = reviews.merge(animes, how='left', left_on='anime_uid', right_on='uid')

In [20]:
# final_df = final_df.merge(profiles, how='left', on='profile')

In [130]:
# final_df.isnull().sum()

In [131]:
reviews

,uid,profile,anime_uid,text,score,scores
0,255938,DesolatePsyche,34096,First things first My reviews system is explai...,8,"{'Overall': '8', 'Story': '8', 'Animation': '8..."
1,259117,baekbeans,34599,Let me start off by saying that Made in Abyss ...,10,"{'Overall': '10', 'Story': '10', 'Animation': ..."
2,253664,skrn,28891,Art It is great especially the actions during...,7,"{'Overall': '7', 'Story': '7', 'Animation': '9..."
3,8254,edgewalker00,2904,Story taking place yr from where season tra...,9,"{'Overall': '9', 'Story': '9', 'Animation': '9..."
4,291149,aManOfCulture99,4181,Kyoto Animations greatest strength is being ab...,10,"{'Overall': '10', 'Story': '10', 'Animation': ..."
...,...,...,...,...,...,...
182629,146535,iHitokage,2593,You know nothing Jon Snow This is how I felt a...,10,"{'Overall': '10', 'Story': '10', 'Animation': ..."
182631,13126,Onegai,2593,So i finally decided to watch the kara no kyou...,7,"{'Overall': '7', 'Story': '6', 'Animation': '9..."
182633,127899,Murasa22,2593,This review is based on all the movies of Kara...,10,"{'Overall': '10', 'Story': '9', 'Animation': '..."
182636,286852,srry4apologizng,2593,Ufotables beautiful use of digital lighting ef...,9,"{'Overall': '9', 'Story': '5', 'Animation': '1..."
182637,193145,bellellis,2593,Based on some of the first published literary ...,10,"{'Overall': '10', 'Story': '10', 'Animation': ..."